In [2]:
import pandas as pd

# a list of strings

x = ['Python', 'Pandas']

# Calling DataFrame constructor on list

df = pd.DataFrame(x)

print(df)

        0
0  Python
1  Pandas

In [5]:
#importing the pandas library

import pandas as pd

info={'ID':[101, 102, 103],'Department':['B.Sc',' B.Tech', 'M.Tech',]}

df = pd.DataFrame(info)

print (df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

In [19]:
import pandas as pd

info = {'one': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
        'two': pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}

d1 = pd.DataFrame(info)

print(d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [24]:
import pandas as pd

info = {'one': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
        'two': pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}

d1 = pd.DataFrame(info)

print(d1['one'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
h    NaN
Name: one, dtype: float64

In [25]:
import pandas as pd

info = {'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
        'two': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}

df = pd.DataFrame(info)

print("Add new column by passing series")
df['three'] = pd.Series([20, 40, 80], index=['a', 'b', 'c'])
print(df)

print("Add new column using existing DataFrame columns")
df['four'] = df['one'] + df['three']
print(df)

Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   80.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing DataFrame columns
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   80.0  83.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [26]:
import pandas as pd

info = {'one': pd.Series([1, 2], index=['a', 'b']),
        'two': pd.Series([1, 2, 3], index=['a', 'b', 'c'])}

df = pd.DataFrame(info)

print("The DataFrame:")
print(df)

# Using del function
print("Delete the first column:")
del df['one']
print(df)

# Using pop function
print("Delete another column:")
df.pop('two')
print(df)

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3
Delete the first column:
   two
a    1
b    2
c    3
Delete another column:
Empty DataFrame
Columns: []
Index: [a, b, c]

In [31]:
import pandas as pd

info = {'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
'two': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e','f'])}

df = pd.DataFrame(info)

print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [38]:
import pandas as pd

info = {'one': pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
        'two': pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e','f'])}

df = pd.DataFrame(info)

print(df.iloc[3])

one    4.0
two    4.0
Name: d, dtype: float64